body {
    background-color: #2d90da;
}

body > a {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
    padding: 0 5vw;
}

.four-zero-four {
    font-size: 12vw;
}

.message {
    text-align: center;
    font-size: 18pt;
}

.txtSmall {
    opacity: 0.5;
}

footer {
    position: absolute;
    bottom: 0;
    height: auto;
    color: #fff;
    background: none;
    pointer-events: none;
}

footer a {
    color: #fff;
}

.info {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    font-weight: normal;
}

.info > div > a {
    pointer-events: all;
}
