.modules {
    background-color: #ececec;
    border-radius: 12px;
    box-shadow: 0 0 25px 2px var(--black1);
}

.mTitle {
    margin: 5px;
    font-size: larger;
    font-weight: bold;
    text-indent: 0.3em;
    line-height: 1.2em;
}

.cover {
    height: 57vw;
    width: 100vw;
    position: relative;
    top: -80px;
    background: center top
        url(https://imgtu.ly2018.top/img/2022/03/220327_roD2IM5E_C_220119_RzXHol9H_211106_B2E111WI4nC.webp)
        no-repeat fixed;
    background-size: 100vw auto;
    margin-bottom: -1px;
}

.blackCloth {
    width: 100%;
    height: 100%;
    position: absolute;
}

.coverText {
    position: relative;
    width: 100%;
    top: 80px;
    height: calc(100% - 79px);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 5' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath fill='%23ccc' d='M1 0v1h1V0H1zm1 1v1H1v1H0v2h25V1h-1v1h-2v1h-1V2h-1v1h-2v1h-1V3h1V2h-2V1h-1v2h1v1h-1V3h-1V2h-2v1h-1V2h-1V1H9v1H7v1H6V2H5v1H4V2H3V1H2zm1 0h1V0H3v1zm1 0v1h1V1H4zm2 1h1V1H6v1zm3-1V0H8v1h1zm2 1h1V1h-1v1zm4-1V0h-1v1h1zm5 1V1h-1v1h1zm1 0h1V1h-1v1zm1-1h1V0h-1v1zM1 2V1H0v1h1zm16-2v1h1V0h-1zM2 3h1v1H2V3zm7 0h1v1H9V3z'/%3E%3C/svg%3E")
        repeat-x center bottom;
    background-size: auto 5vw;
}

.GC {
    margin-top: 80px;
}

.GC p {
    font-size: 15vw;
    font-weight: 700;
    letter-spacing: 0.4vw;
    text-indent: 2vw;
    color: #f5f5f7;
    text-shadow: 1px 1px 15px var(--black1);
    line-height: 18vw;
}

.TBW {
    position: absolute;
    right: 5vw;
    bottom: 6vw;
    font-size: 2vw;
    text-align: right;
    color: #f5f5f7;
    text-shadow: 0 0 5px var(--greyColor);
    padding: 3px;
}

@media (max-width: 465px) {
    .cover {
        background-size: 465px auto;
        height: 265px;
    }

    .GC {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 180px;
    }
}

@media (max-width: 100px) {
    .TBW {
        display: none;
    }
}

.title {
    font-size: 40pt;
    font-weight: 700;
    color: #525252;
    text-shadow: 0.07em 0.07em 0 #b2b3b3;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.slick-list:focus {
    outline: 0;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-arrow.slick-hidden {
    display: none;
}

.firstPart {
    margin-bottom: 25px;
    height: 100%;
}

.firstPartLeft {
    float: left;
    width: 58vw;
}

.welcome div img {
    width: 100%;
    background-position: top center;
}

.AD {
    width: 100%;
    margin-top: 80px;
    padding: 2vw 0;
}

.video {
    width: 55vw;
    margin: 0 auto 50px;
}

.video > p {
    font-size: larger;
    font-weight: bolder;
    margin: 4px 2.8vw;
}

.iframeVideo {
    margin-top: 2vw;
}

.iframeVideo > div {
    border-radius: 6px;
}

.video iframe {
    width: 52vw;
    height: 31.5vw;
    margin: 0 1.5vw;
    border-radius: 10px;
    overflow: hidden;
}

.dotsDiv {
    float: left;
    margin-left: 2.8vw;
}

.dotsDiv li {
    cursor: pointer;
    float: left;
    width: 13px;
    height: 21px;
}

.dotsDiv li button {
    margin: 7px 3px;
    background-color: #000;
    opacity: 0.2;
    border: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    border-radius: 3.5px;
    width: 7px;
    height: 7px;
    transition: ease-in-out 0.3s;
}

.dotsDiv li:hover button {
    opacity: 0.35;
}

.dotsDiv .slick-active button {
    opacity: 0.5 !important;
}

.dotsDiv .slick-active:hover button {
    opacity: 0.7 !important;
}

.arrowsDiv {
    width: 58px;
    margin-right: 2.8vw;
    float: right;
}

.flipArrow {
    margin: 0 2px;
    cursor: pointer;
    opacity: 0.5;
    transition: ease-in-out 0.3s;
}

.flipArrow:hover {
    opacity: 0.9;
}

.dividingLine {
    display: none;
}

.rule {
    padding: 0 3.8vw;
}

.rule p {
    text-align: center;
    margin: 20px 0;
    line-height: 20pt;
}

.rule p:last-child {
    font-size: large;
    font-weight: 700;
}

.firstPartRight {
    float: right;
    position: relative;
    width: 30vw;
}

@keyframes logoRotational {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logoImg {
    width: 30vw;
    height: 30vw;
    animation: logoRotational 10s cubic-bezier(0.5, 0, 0, 1) 5s infinite
        backwards;
    transform-origin: 50% 54%;
}

.logoMain {
    position: relative;
    width: 100%;
    height: 100%;
}

.logoShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(14px) brightness(0);
    opacity: 0.1;
    transform: scale(1.01);
}

.announcement {
    padding: 6px 0 12px;
}

.announcement > div {
    background-color: #e5e5e5;
    margin: 5px;
    border: #e5e5e5 solid 10px;
    border-width: 10px 3px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-line-clamp: 1;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}

#announcement-title {
    font-size: larger;
    font-weight: bold;
    margin: 0 0 10px 2px;
}

.btn_href {
    margin: 2vw 12px;
    padding: 0 1em;
    border: var(--mainColor) solid 2px;
    text-align: center;
    line-height: 1.5em;
    font-size: xx-large;
    font-weight: 500;
    color: var(--mainColor);
    border-radius: 18px;
    text-shadow: 0 0 25px var(--mainColor3);
    transition: cubic-bezier(0.5, 0, 0, 1) 0.4s;
}

.btn_href:hover {
    font-weight: 800;
    background-color: var(--mainColor);
    color: #ececec;
    transform: scale(1.1);
}

.sponsorList {
    width: calc(100% - 10px);
    padding: 12px 5px 24px;
    border-radius: 12px;
    box-shadow: 0 0 25px 2px var(--black1);
    background-color: #ececec;
}

.sponsorList table {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    background-color: #e5e5e5;
    height: 10em;
}

.sponsorList::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 64px;
    margin: -64px 0 10px;
    background: linear-gradient(
        to top,
        rgba(236, 236, 236, 1),
        60%,
        rgba(236, 236, 236, 0)
    );
}

.playerID {
    text-align: center;
}

.sLMoney {
    text-align: left;
}

.bulletBox {
    background-image: url(https://imgtu.ly2018.top/img/2022/03/220327_7sm3RGf6_C-211127_CjRW9N3y.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    width: 100vw;
    height: 50vw;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1440px) {
    .bulletBox {
        background-size: 1440px 720px;
        height: 720px;
    }
}

.bulletText {
    width: 100%;
    height: 100%;
}

.time {
    background-color: var(--black1);
    border-radius: 6px;
    padding: 3px 5px;
}

.year {
    font-size: x-large;
}

.month {
    font-size: 22pt;
}

.bulletBox a {
    width: auto;
    height: auto;
    position: absolute;
    font-size: x-large;
    line-height: 32px;
    white-space: nowrap;
    background-color: #ececec;
    padding: 8px 10px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 0 0 8px var(--black1);
}

.previewPicture {
    width: 100vw;
}

.introduce {
    text-align: center;
    margin-top: 20px;
}

.introduce i {
    color: #525252;
    font-size: 24pt;
    font-weight: 600;
}

.introduce a {
    font-size: 25pt;
    font-weight: 700;
}

.item {
    height: calc(48vw + 80px);
    overflow: hidden;
}

.imgA {
    display: block;
    width: 700px;
    height: 420px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

@media (max-width: 862px) {
    .imgA {
        width: 80vw;
        height: 48vw;
        border-radius: 2vw;
    }

    .previewPicture .slick-list {
        height: calc(48vw + 80px) !important;
    }
}

.imgA img:not(.loadingIcon) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.previewPicture .slick-list {
    height: 512px;
}

.previewPicture .slick-track {
    margin-top: 40px;
}

.previewPicture .slick-slide {
    transition: ease-in-out 0.3s;
}

.previewPicture .slick-slide:not(.slick-center) {
    transform: scale(0.9);
    opacity: 0.3;
    pointer-events: none;
}

.previewPicture .slick-center > .imgA {
    box-shadow: 0 0 10px var(--black2);
}

.version {
    text-align: right;
    color: #ccc;
    font-size: 0.9em;
    margin-top: 4px;
    padding-right: calc(0.5em + 2px);
}

@media (min-width: 958px) {
    .AD {
        display: flex;
        justify-content: space-around;
        padding: 2vw 0;
        align-items: center;
    }

    .video {
        width: 27.5vw;
        margin: 0;
        padding: 0 0.9vw;
    }

    .video iframe {
        width: 24vw;
        height: 13.5vw;
        border-radius: 6px;
    }

    .AD .dividingLine {
        display: block;
        width: 1px;
        height: calc(20pt + 33px + 13.5vw);
        background-color: #bfbfbf;
    }

    .rule {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: calc(20pt + 33px + 13.5vw);
        padding: 0 2vw;
        margin: 0;
    }

    .rule p {
        margin: 0;
    }

    .logoImg {
        display: none;
    }
}

@media (max-width: 682px) {
    .logoImg {
        display: none;
    }

    .firstPartLeft {
        float: none;
        width: 90vw;
    }

    .video {
        width: 80vw;
        margin-top: 5vw;
    }

    .video > p {
        margin-left: 4vw;
        font-size: x-large;
    }

    .video iframe {
        width: 72vw;
        height: 40.5vw;
        margin: 0 4vw;
    }

    .dotsDiv {
        margin-left: 4vw;
    }

    .arrowsDiv {
        margin-right: 4vw;
    }

    .firstPartRight {
        float: none;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .announcement {
        margin-bottom: 2vw;
    }

    .btn_join {
        order: -1;
    }

    .sponsorList {
        margin: 0;
    }
}
