.cover {
    height: 57vw;
    width: 100vw;
    position: relative;
    top: -80px;
    background: center top url(https://imgtu.ly2018.top/img/2022/01/220119_RzXHol9H_211106_B2E111WI4nC.png) no-repeat fixed;
    background-size: 100vw auto;
    margin-bottom: -1px;
}

.blackCloth {
    width: 100%;
    height: 100%;
    position: absolute;
}

.coverText {
    position: relative;
    width: 100%;
    top: 80px;
    height: calc(100% - 79px);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 5' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath fill='%23ccc' d='M1 0v1h1V0H1zm1 1v1H1v1H0v2h25V1h-1v1h-2v1h-1V2h-1v1h-2v1h-1V3h1V2h-2V1h-1v2h1v1h-1V3h-1V2h-2v1h-1V2h-1V1H9v1H7v1H6V2H5v1H4V2H3V1H2zm1 0h1V0H3v1zm1 0v1h1V1H4zm2 1h1V1H6v1zm3-1V0H8v1h1zm2 1h1V1h-1v1zm4-1V0h-1v1h1zm5 1V1h-1v1h1zm1 0h1V1h-1v1zm1-1h1V0h-1v1zM1 2V1H0v1h1zm16-2v1h1V0h-1zM2 3h1v1H2V3zm7 0h1v1H9V3z'/%3E%3C/svg%3E") repeat-x center bottom;
    background-size: auto 5vw;
}

.GC {
    margin-top: 80px;
}

.GC p {
    font-size: 15vw;
    font-family: gravityBold;
    text-indent: 2vw;
    color: #f5f5f7;
    text-shadow: 1px 1px 15px var(--black1);
    line-height: 18vw;
}

.TBW {
    position: absolute;
    right: 5vw;
    bottom: 6vw;
    font-size: 2vw;
    text-align: right;
    color: #f5f5f7;
    text-shadow: 0 0 5px var(--greyColor);
    padding: 3px;
}

@media (max-width: 465px) {
    .cover {
        background-size: 465px auto;
        height: 265px;
    }

    .GC {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 180px;
    }
}

@media (max-width: 100px) {
    .TBW {
        display: none;
    }
}

.title {
    font-size: 40pt;
    font-weight: bold;
    color: #939494;
    text-shadow: .07em .07em 0 #b2b3b3;
}

.welcome {
    margin-bottom: 160px;
}

.welcome div img {
    width: 100%;
    background-position: top center;
}

.btn_join {
    border: var(--mainColor) solid 2px;
    color: var(--mainColor);
    text-align: center;
    line-height: 1.5em;
    width: 5em;
    margin: 20px 5vw 0 0;
    font-size: xx-large;
    border-radius: 18px;
    float: right;
    text-shadow: 0 0 25px var(--mainColor3);
    transition: cubic-bezier(.5, 0, 0, 1) .4s;
}

.btn_join:hover {
    transform: scale(1.1);
    background-color: var(--mainColor);
    color: #ececec;
}

.AD {
    width: 80vw;
    background-color: #ececec;
    padding: 2vw 0;
    margin: 80px auto 25px;
    border-radius: 1.8vw;
    box-shadow: 0 0 25px 2px var(--black1);
}

#video p {
    margin: .1vw 4vw;
    font-size: larger;
    font-weight: bolder;
}

#video iframe {
    border-radius: .6vw;
    margin: 2vw 4vw 0;
    width: 72vw;
    height: 40.5vw;
}

.dividingLine {
    display: none;
    width: 3px;
    height: 24vw;
    margin: 2vw 4px -2vw;
    background-color: #bfbfbf;
    border-radius: 1.5px;
}

#rule {
    margin: 4vw;
}

#rule p {
    text-align: center;
    margin: 20px 0;
}

/* 弹幕 */
.bulletBox {
    background-image: url(https://imgtu.mengs.top/img/2021/11/211127_CjRW9N3y.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    width: 100vw;
    height: 50vw;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1440px) {
    .bulletBox {
        background-size: 1440px 720px;
        height: 720px;
    }
}

.bulletText {
    width: 100%;
    height: 100%;
}

.time {
    background-color: var(--black1);
    border-radius: 6px;
}

.year {
    font-size: x-large;
}

.month {
    font-size: 22pt;
}

.bulletBox a {
    width: auto;
    height: auto;
    position: absolute;
    font-size: x-large;
    line-height: 32px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, .9);
    padding: 8px 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 8px var(--black1);
}

.previewPicture {
    width: 100vw;
}

.introduce {
    text-align: center;
    margin-top: 20px;
}

.introduce i {
    color: #939494;
    font-size: 3.7vw;
}

.introduce a {
    font-size: 25pt;
    font-weight: bold;
}

.imgA {
    display: block;
    width: 700px;
    height: 420px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

@media (max-width: 862px) {
    .imgA {
        width: 80vw;
        height: 48vw;
        border-radius: 2vw;
    }

    .previewPicture .slick-list {
        height: calc(48vw + 80px) !important;
    }
}

.imgA img:not(.loadingIcon) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingIcon {
    height: 70%;
}

.previewPicture .slick-list {
    height: 512px;
}

.previewPicture .slick-track {
    margin-top: 40px;
}

.previewPicture .slick-slide {
    transition: ease-in-out .3s;
}

.previewPicture .slick-slide:not(.slick-center) {
    transform: scale(0.9);
    opacity: .3;
    pointer-events: none;
}

.previewPicture .slick-center>.imgA {
    box-shadow: 0 0 1.5vw var(--black4);
}

.dotsDiv {
    float: left;
    margin-left: 4vw;
}

.dotsDiv li {
    cursor: pointer;
    float: left;
    width: 13px;
    height: 21px;
}

.dotsDiv li button {
    margin: 7px 3px;
    background-color: #000;
    opacity: .2;
    border: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    border-radius: 3.5px;
    width: 7px;
    height: 7px;
    transition: ease-in-out .3s;
}

.dotsDiv li:hover button {
    opacity: .35;
}

.dotsDiv .slick-active button {
    opacity: .5 !important;
}

.dotsDiv .slick-active:hover button {
    opacity: .7 !important;
}

.arrowsDiv {
    width: 70px;
    margin-right: 4vw;
    float: right;
}

.flipArrow {
    margin: 0 5px;
    cursor: pointer;
    opacity: .5;
    transition: ease-in-out .3s;
}

.flipArrow:hover {
    opacity: .9;
}

.version {
    text-align: right;
    color: #ccc;
    font-size: 0.9em;
    padding-right: calc(.5em + 2px);
}

@media (min-width: 816px) {
    .AD {
        display: flex;
        padding-bottom: 4vw;
    }

    #video {
        width: 40vw;
        margin: 0;
    }

    #video p {
        margin: .1vw 4vw;
        font-size: larger;
        width: 32vw;
    }

    #video .video {
        height: 20vw;
    }

    #video .video iframe {
        border-radius: .6vw;
        margin: 2vw 4vw 0;
        width: 32vw;
        height: 18vw;
        box-shadow: 0 0 8px var(--mainColor3);
    }

    .dividingLine {
        display: block !important;
    }

    #rule {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 4vw 4vw 0;
    }

    #rule p {
        margin: 0;
    }
}