@font-face {
    font-family: calluna;
    src: url(resources/CallunaSans.woff2);
    font-display: swap;
}

:root {
    --mainColor: rgba(39, 128, 194, 1);
    --mainColor9: rgba(39, 128, 194, 0.9);
    --mainColor8: rgba(39, 128, 194, 0.8);
    --mainColor7: rgba(39, 128, 194, 0.7);
    --mainColor6: rgba(39, 128, 194, 0.6);
    --mainColor5: rgba(39, 128, 194, 0.5);
    --mainColor4: rgba(39, 128, 194, 0.4);
    --mainColor3: rgba(39, 128, 194, 0.3);
    --mainColor2: rgba(39, 128, 194, 0.2);
    --mainColor1: rgba(39, 128, 194, 0.1);
    --mainColor0: rgba(39, 128, 194, 0);
    --black: #1d1d1f;
    --black10: rgba(0, 0, 0, 1);
    --black9: rgba(0, 0, 0, 0.9);
    --black8: rgba(0, 0, 0, 0.8);
    --black7: rgba(0, 0, 0, 0.7);
    --black6: rgba(0, 0, 0, 0.6);
    --black5: rgba(0, 0, 0, 0.5);
    --black4: rgba(0, 0, 0, 0.4);
    --black3: rgba(0, 0, 0, 0.3);
    --black2: rgba(0, 0, 0, 0.2);
    --black1: rgba(0, 0, 0, 0.1);
    --black0: rgba(0, 0, 0, 0);
    --greyColor: #ccc;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

body {
    color: var(--black);
    background-color: #ccc;
    font-family: calluna, PingFang SC, Microsoft YaHei, "微软雅黑", Arial,
        Helvetica, sans-serif;
    font-size: 12pt;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: var(--black8);
}

img {
    border: none;
}

html {
    height: 100%;
}

i {
    font-style: normal;
}

.w {
    width: 90%;
    margin: auto;
}

.unCopy {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5vw);
    -webkit-backdrop-filter: blur(5vw);
    box-shadow: 0 -4px 8px 8px var(--black1);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 256;
}

#logo {
    float: left;
    margin-top: -5px;
    margin-right: 18px;
    position: relative;
}

#logo a {
    float: left;
    margin-right: 10px;
}

#logo a:nth-child(1) img {
    margin-top: 4px;
    width: 60px;
    height: 60px;
}

#logo a:nth-child(2) img {
    margin-top: 18.5px;
    height: 40px;
}

#nav {
    margin: 10px auto;
    width: 90%;
}

#navLeft li {
    margin-top: 17.5px;
    float: left;
}

#navRight li {
    margin-top: 12.5px;
    float: right;
}

#nav ul li a {
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    font-size: 25px;
    transform: scale(1);
    transition: transform 0.3s;
}

.blueLine {
    height: 4px;
    width: 80%;
    background-color: var(--mainColor8);
    border-radius: 2px;
    margin: auto;
    margin-top: -3px;
    box-shadow: 0 0 5px var(--mainColor3);
    transition: cubic-bezier(0.32, 0, 0.32, 1) 0.2s;
}

.blueLineNone {
    height: 4px;
    width: 0;
    background-color: var(--mainColor1);
    border-radius: 2px;
    margin: auto;
    margin-top: -3px;
    box-shadow: 0 0 5px var(--mainColor3);
    transition: cubic-bezier(0.32, 0, 0.32, 1) 0.2s;
}

#navLeft li:hover > .blueLineNone {
    background-color: var(--mainColor8);
    width: 80%;
}

#nav ul li:hover > a {
    transform: scale(0.9);
}

#navMore {
    float: right;
    height: 0;
}

#navButton {
    float: right;
    margin: 10px;
    display: none;
    cursor: pointer;
    border-radius: 5px;
}

#navButton a {
    pointer-events: none;
    transform: rotate(0) scale(1);
    transition: cubic-bezier(0.5, 0, 0, 1) 0.58s;
}

#navHref:checked ~ label a {
    transform: rotate(-180deg) scale(0.75);
}

#navButton a div {
    height: 6px;
    border-radius: 3px;
    background-color: var(--black);
    margin: 5px 0;
    box-shadow: 0 0 5px var(--mainColor0);
    transition: cubic-bezier(0.5, 0, 0, 1) 0.4s;
}

#navButton a :nth-child(1) {
    width: 24px;
    margin-left: 6px;
}

#navButton a :nth-child(2) {
    width: 22px;
    margin-left: 6.5px;
}

#navButton a :nth-child(3) {
    width: 28px;
    margin-left: 2px;
}

#navHref:checked ~ label a div {
    background-color: var(--mainColor);
    box-shadow: 0 0 5px var(--mainColor3);
}

#navHref:checked ~ label a :nth-child(1) {
    width: 30px;
    transform: translateY(11px) rotate(0.125turn) scale(1.2);
    margin-left: 0;
}

#navHref:checked ~ label a :nth-child(2) {
    width: 0;
    margin-left: 15px;
    background-color: var(--mainColor0);
    box-shadow: 0 0 5px var(--mainColor0);
    margin-left: 0;
}

#navHref:checked ~ label a :nth-child(3) {
    width: 30px;
    transform: translateY(-11px) rotate(-0.125turn) scale(1.2);
    margin-left: 0;
}

#navMoreHref {
    height: auto;
    margin-top: 50px;
    padding: 10px 5px;
    border-radius: 64px;
    box-shadow: 0 0 15px var(--black0);
    transform: scale(0);
    transition: cubic-bezier(0.32, 0, 0.19, 1) 0.4s;
    transform-origin: 90% -5% 0;
}

#navHref:checked ~ div {
    display: block;
    border-radius: 8px;
    background-color: rgba(245, 245, 247, 1);
    box-shadow: 0 0 15px var(--black1);
    transform: scale(1);
}

#navMoreHref li {
    height: 20px;
    padding: 5px;
    margin: 5px 3px;
    border-radius: 32px;
    background-color: rgba(222, 222, 222, 0);
    pointer-events: none;
    transition: cubic-bezier(0.32, 0, 0.19, 1) 0.4s;
}

#navMoreHref li:hover {
    background-color: rgba(222, 222, 222, 1);
}

#navHref:checked ~ div ul li {
    border-radius: 5px;
    pointer-events: all;
}

#navMoreHref li a {
    height: 20px;
    line-height: 20px;
    font-size: larger;
    text-align: center;
    color: var(--black0);
    transition: cubic-bezier(0.32, 0, 0.19, 1) 0.2s;
    pointer-events: none;
}

#navHref:checked ~ div ul li a {
    color: var(--black);
    pointer-events: all;
}

.navMoreNone {
    display: none;
}

footer {
    width: 100vw;
    margin-top: 64px;
}

#mountain {
    width: 100vw;
    height: 42.5vw;
    background-image: url(https://imgtu.ly2018.top/img/2021/11/211127_pPiNooVM.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}

#divider {
    width: 100wv;
    height: 2px;
    background-color: var(--mainColor);
    box-shadow: 0 0 15px 3px rgb(39, 128, 194);
    z-index: 5;
}

#content {
    padding: 25px 0;
    background-color: #ececec;
    width: 100vw;
    overflow: auto;
}

.hrefList {
    margin-left: 5%;
    margin-right: 0;
    width: 8em;
    float: left;
    text-align: left;
}

.hrefListTitle {
    color: var(--mainColor);
    text-shadow: 0 0 5px var(--mainColor3);
    display: block;
    margin: 0;
    margin-bottom: 15px;
}

.hrefList ul li {
    display: flex;
    justify-items: left;
    align-items: center;
    perspective: 500px;
}

.hrefList ul li a {
    color: #626262;
    padding: 3px 10px;
    margin: 3px 0;
    transition: 0.2s;
    border-radius: 5px;
    text-shadow: 0 0 0 var(--mainColor0);
}

.hrefList ul li a:hover {
    box-shadow: 0 0 8px var(--mainColor4);
    color: black;
    transform: translateZ(10px) rotateX(16deg);
}

#info {
    float: right;
    margin-right: 5%;
    height: 100%;
    width: 256px;
}

#info div {
    float: right;
    width: 256px;
    margin-bottom: 20px;
}

#info div img {
    float: right;
    right: 0;
    width: 256px;
}

#copyRight {
    color: #999;
    font-size: 0.9em;
    line-height: 1em;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: end;
}

#copyRight li {
    border-right: solid 2px #626262;
    display: inline-block;
    list-style: none;
    margin-top: 10px;
    padding: 0.5em;
}

#copyRight li a {
    margin-top: 5px;
}

#copyRight li i {
    display: block;
    font-size: 8pt;
    margin-top: 6px;
}

.txt {
    font-size: large;
    margin: 20px 0;
}

.txtSmall {
    font-size: smaller;
}

.txtMedium {
    font-size: medium;
}

.txtBig {
    font-size: larger;
}

.txtBold {
    font-weight: bold;
    border-bottom: 1px dashed;
}

.txtDefault {
    font-size: 14px;
}

.txtCross {
    text-decoration: line-through;
}

.href {
    color: var(--mainColor);
    text-shadow: 0 0 5px var(--mainColor3);
    display: inline;
}

.note {
    color: var(--black5);
    font-size: x-small;
}

@keyframes loadRotate {
    0% {
        transform: rotate(-45deg) translate(-50%, -50%);
    }

    100% {
        transform: rotate(315deg) translate(-50%, -50%);
    }
}

.loadingIcon {
    animation: loadRotate 3s cubic-bezier(0.8, 0.4, 0.2, 0.6) infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
}

@media (max-width: 790px) {
    #logo {
        margin-right: 10px;
    }

    #logo a {
        margin-right: 0;
    }

    #logo a:nth-child(2) img {
        display: none;
    }
}

@media (max-width: 618px) {
    #navRight {
        display: none;
    }

    #navButton {
        display: block;
    }
}

@media (max-width: 540px) {
    #nav li a i {
        display: none;
    }
}

@media (max-width: 440px) {
    #navLeft li .sizeSmall {
        transform: scale(0.7);
        transform-origin: center bottom;
        padding: 0 0;
        margin: 0 -2px;
    }
}

@media (max-width: 376px) {
    #navLeft li .sizeSmall {
        display: none;
    }

    .navMoreNone {
        display: block;
    }
}

@media (max-width: 300px) {
    #navLeft {
        display: none;
    }
}

@media (max-width: 200px) {
    #logo,
    #cover div:last-child {
        display: none;
    }
}

@media (max-height: 331px) {
    header {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
        box-shadow: none;
    }

    #navButton,
    .navMoreNone {
        display: block;
    }

    #navLeft,
    #navRight,
    #logo {
        display: none;
    }

    #navButton a div {
        background-color: var(--mainColor);
        box-shadow: 0 0 5px var(--black3);
    }

    #navHref:checked ~ label a div {
        box-shadow: 0 0 5px 2px var(--mainColor3);
    }
}

@media (min-width: 1440px) {
    #mountain {
        width: 1440px;
        height: 612px;
        margin: 0 auto;
    }
}

@media (max-width: 119px) {
    #navButton,
    #navMoreHref {
        display: none;
    }
}

@media (max-width: 639px) {
    #hrefDiv {
        overflow: auto;
    }

    #info {
        float: left;
        margin-left: 5%;
        height: auto;
    }

    #info div {
        display: none;
    }

    #copyRight {
        text-align: left;
        margin-top: -10px;
        text-align: start;
    }

    #copyRight li {
        margin-top: 0;
        border-right: none;
        border-left: solid 2px var(--mainColor);
    }

    .hrefList {
        margin-bottom: 30px;
    }

    .hrefListTitle {
        margin-bottom: 5px;
    }
}
