.container {
    margin: 100px auto 256px auto;
    position: relative;
    transition: 0.5s;
}

.item {
    width: 400px;
    height: auto;
    padding: 10px;
    position: absolute;
    transition: all 0.5s ease-in-out;
    perspective: 500px;
    animation: scale 1s forwards;
    transform-origin: -140% 30%;
}

.picture {
    box-shadow: 0 0 10px var(--black2);
    padding: 3px;
    border-radius: 9px;
    font-size: 0;
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1);
    background-color: rgba(204, 204, 204, 0.5);
}

.picture:hover {
    box-shadow: 10px 8px 20px var(--black3);
    z-index: 255;
    transform: scale(1.05) rotateX(4deg) rotateY(0deg) rotateZ(0deg);
}

.R1:hover {
    transform: scale(1.05) rotate(0deg);
}

.R2:hover {
    transform: scale(1.05) rotate(-0.5deg);
}

.R3:hover {
    transform: scale(1.05) rotate(-1deg);
}

.R4:hover {
    transform: scale(1.05) rotate(1deg);
}

.R5:hover {
    transform: scale(1.05) rotate(0.5deg);
}

.item .picture a {
    border-radius: 7px;
}

.item .picture .loadingIcon {
    height: 50%;
    opacity: 0.8;
    z-index: -1;
}

.item .picture img {
    width: 100%;
    border-radius: 7px;
    transition: 0.4s;
}

.picture:hover img {
    transform: scale(1.04);
}

@keyframes scale {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

#outerdiv {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--black7);
    z-index: 200;
    width: 100%;
    height: 100%;
    display: none;
}

#innerdiv {
    position: relative;
    background-color: var(--black7);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.over {
    margin: 0 auto;
    padding: 128px 0;
    width: 90%;
    z-index: -20;
}

.over div {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.over div img {
    height: 15vw;
    opacity: 0.5;
}

.over p {
    color: gray;
    display: none;
    text-align: center;
}

.over:last-child {
    font-size: medium;
}

@media (max-width: 422px) {
    .item {
        width: 80vw;
    }
}
