#navButton {
    display: block;
}

#navRight li {
    display: none;
}

.pr {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1000px;
    position: relative;
    top: 100px;
    display: none;
}

.wrap::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 14%;
    width: 5px;
    z-index: -999;
    height: 96%;
    background-color: var(--mainColor);
    border-radius: 2.5px;
    box-shadow: 0 0 10px -2px var(--mainColor);
}

.event {
    position: relative;
    width: 90%;
    height: 90px;
    margin: 25px auto;
    display: flex;
}

.time {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time>span {
    width: auto;
    border-radius: 10px;
    text-align: center;
    font: 900 24px '';
    padding: 10px;
    background-color: #f5f5f7;
    box-shadow: 0 0 10px var(--black1);
    white-space: nowrap;
}

.year {
    font-size: x-large;
}

.month {
    font-size: xx-large;
}

.affair {
    position: relative;
    display: flex;
    margin-left: 10%;
    width: 65%;
    border-radius: 15px;
    color: var(--black);
    background-color: #f5f5f7;
    text-align: center;
    box-shadow: 0 0 10px var(--black1);
    flex-wrap: wrap;
}

.affair div {
    margin: auto;
    position: relative;
}

.event:nth-child(even) .left {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 0 10px var(--black3);
}

.event:nth-child(odd) .right {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 0 10px var(--black3);
}

.over {
    margin: 128px auto;
    width: 80vw;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    font-family: gravityBold;
    font-size: large;
    background-color: #f5f5f7;
    box-shadow: 0 0 10px var(--black1);
    z-index: 100;
}

#navLeft .order {
    margin: 0 0 0 20px;
}

@media (max-width: 440px) {
    #navLeft .order {
        margin: 0 0 0 -4px;
    }

    .playAnimation {
        animation: none !important;
    }
}

.order label {
    cursor: pointer;
    background-color: rgba(245, 245, 247, .8);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--black1);
    height: 58px;
    width: 58px;
    display: block;
}

.order label svg g {
    transform: rotate(-180deg);
    transition: cubic-bezier(.5, 0, 0, 1) 1s;
    transform-origin: 206px 72px;
}

#orderButtonSVG {
    margin: 4px;
}

.playAnimation {
    animation: switch .7s ease-in-out;
}

#orderButton:checked~#nav ul .order label svg g {
    transform: rotate(0);
}

.labelNavMoreHrefButton label {
    height: 100%;
    width: 100%;
    line-height: 20px;
    font-size: larger;
    text-align: center;
    transition: cubic-bezier(.32, 0, .19, 1) 0.2s;
    cursor: pointer;
}

#orderButton:checked~#navMore #navMoreHref ul .labelNavMoreHrefButton label {
    color: #2780c2;
    text-shadow: 0 0 5px var(--mainColor3);
}

@keyframes switch {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    62.5% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 538px) {
    .time>span {
        font-size: x-small;
    }

    .year {
        font-size: xx-small;
    }

    .month {
        font-size: medium;
    }
}