aside {
    position: fixed;
    top: 120px;
    left: 0;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5vw);
    -webkit-backdrop-filter: blur(5vw);
    border-radius: 0 15px 15px 0;
    box-shadow: 1px 2px 10px 0 var(--black2);
    padding: 15px 0;
    transition: cubic-bezier(0.5, 0, 0, 1) 0.4s;
    z-index: 19;
}

.hidden {
    left: -110px;
    box-shadow: 1px 2px 10px -8px var(--black2);
    transform: scale(0.95);
}

#categoryHref:checked {
    display: none;
}

aside i {
    font-weight: bold;
    margin-left: 10px;
    border-left: 2px solid var(--black);
    font-size: large;
    font-weight: bold;
}

aside label {
    float: right;
    margin: -5px 13px;
    padding: 10px 0 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

aside label a {
    pointer-events: none;
    transform: rotate(180deg);
    transition: cubic-bezier(0.5, 0, 0, 1) 0.58s;
}

#categoryHref:checked ~ label a {
    transform: rotate(0deg);
}

aside label a div {
    height: 6px;
    width: 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px var(--mainColor0);
    background-color: var(--black);
    transition: cubic-bezier(0.5, 0, 0, 1) 0.4s;
}

#categoryHref:checked ~ label a div {
    background-color: var(--mainColor);
    box-shadow: 0 0 5px var(--mainColor3);
}

aside label a div:nth-child(1) {
    transform: translateY(1px) rotate(-45deg);
    transform-origin: 20px 3px;
}

aside label a div:nth-child(2) {
    transform: translateY(-1px) rotate(45deg);
    transform-origin: 20px 3px;
}

#categoryHref:checked ~ label a :nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

#categoryHref:checked ~ label a :nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

aside ul {
    padding: 5px 0 0;
}

aside ul li {
    padding: 10px 16px 10px 10px;
    text-align: center;
    cursor: pointer;
    transition: cubic-bezier(0.32, 0, 0.32, 1) 0.2s;
}

aside ul li:hover {
    background-color: #f5f5f5;
}

.selected {
    border-left: var(--mainColor) solid 3px;
    border-right: var(--black0) solid 0px;
}

.selected a {
    color: rgb(39, 128, 194);
    text-shadow: 0 0 5px var(--mainColor3);
    font-weight: bold;
}

.hidden ul .selected {
    border-left: var(--mainColor) solid 0px;
    border-right: var(--black4) solid 3px;
}

.content {
    background-color: #f5f5f7;
    width: 80%;
    margin: 100px 0 0 15vw;
    padding: 20px 0;
    box-shadow: 6px 10px 16px -10px var(--black1);
    border-radius: 5px;
    transform: scale(0.9);
    transform-origin: top;
    transition: cubic-bezier(0.5, 0, 0.22, 1) 0.4s 50ms;
}

.center {
    margin: 100px 0 0 10vw;
    box-shadow: 6px 10px 32px 10px var(--black1);
    transform: scale(1);
}

.item {
    margin: 0 20px;
    display: none;
    background: linear-gradient(to top, var(--mainColor), var(--mainColor)) left
            top no-repeat,
        linear-gradient(to right, var(--mainColor), var(--mainColor)) left top
            no-repeat,
        linear-gradient(to left, var(--mainColor), var(--mainColor)) right top
            no-repeat,
        linear-gradient(to bottom, var(--mainColor), var(--mainColor)) right top
            no-repeat,
        linear-gradient(to left, var(--mainColor), var(--mainColor)) left bottom
            no-repeat,
        linear-gradient(to bottom, var(--mainColor), var(--mainColor)) left
            bottom no-repeat,
        linear-gradient(to top, var(--mainColor), var(--mainColor)) right bottom
            no-repeat,
        linear-gradient(to left, var(--mainColor), var(--mainColor)) right
            bottom no-repeat;
    background-size: 2px 16px, 16px 2px, 2px 16px, 16px 2px;
}

.item::after {
    content: "";
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    background: url("../resources/GenecraftLogo.svg");
    filter: grayscale(80%);
    background-size: cover;
    float: right;
    bottom: 45px;
    right: -20px;
    opacity: 0.2;
}

.placeholder {
    height: 64px;
}

.theme {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: var(--mainColor);
    text-shadow: 0 0 5px var(--mainColor3);
    margin: -20px 0 40px;
    white-space: nowrap;
}

.welcome {
    display: block;
    padding: 0 30px;
}

.leftArrow {
    font-size: 12em;
    display: block;
    text-align: center;
    color: #ccc;
    height: 100px;
    line-height: 100px;
    margin-bottom: 10px;
}

.welcome :nth-child(2) {
    display: block;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10vh;
}

.welcome p {
    text-align: center;
    font-size: xx-large;
}

.welcome :nth-child(4) {
    font-size: 100px;
    font-weight: bold;
}

.jflc {
    padding: 0 30px;
}

.jflc p {
    text-indent: 2em;
    margin-bottom: 35px;
}

.jflc .serialNumber {
    color: var(--mainColor);
    font-size: xx-large;
    margin-bottom: -35px;
}

.jflc .download {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.jflc .download li {
    margin: 20px 10px;
    padding: 5px 25px;
    border-radius: 12px;
    line-height: 36px;
    background-color: #fff;
    box-shadow: 0 0 25px 2px var(--black1);
    font-size: x-large;
}

.yxgz {
    padding: 0 30px;
}

.yxgz .serialNumber {
    margin-top: 45px;
    color: var(--mainColor);
    font-size: 20pt;
}

.yxgz p {
    text-indent: 2em;
    margin-top: 0px;
}

.jbzl {
    padding: 0 30px;
}

.serialNumber {
    color: var(--mainColor);
    font-size: 20pt !important;
    font-weight: 520;
}

.information div {
    margin-left: 25px;
    font-size: large;
}

.information div span {
    display: block;
    margin: 15px 0 -10px -1em;
}

.information div .serialNumber {
    margin: 30px 0 -15px -25px;
}

.instruction {
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-left: -0.5em;
}

@media (max-width: 566px) {
    .welcome p {
        font-size: 6vw;
    }

    .leftArrow {
        font-size: 30vw;
        text-align: right;
        margin-right: 3vw;
    }

    .welcome :nth-child(4) {
        font-size: 10vw;
    }
}
