<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
        />
        <title>图片查看</title>
        <link
            rel="shortcut icon"
            href="https://imgtu.ly2018.top/img/2022/01/220126_5an6GFjJ_211226_KTe8eKBH.png
"
        />
        <link rel="stylesheet" href="../../preset.css" />
        <link rel="stylesheet" href="view.css" />
        <link
            rel="apple-touch-icon"
            href="https://imgtu.ly2018.top/img/2022/01/220126_5an6GFjJ_211226_KTe8eKBH.png"
        />

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    </head>

    <body>
        <div class="back">
            <div></div>
            <div></div>
            <i>Back</i>
        </div>
        <div id="main">
            <div class="display">
                <div class="unCopy" id="loading">
                    <img
                        class="loadingIcon"
                        src="../../resources/Loading.svg"
                        alt="Loading..."
                    />
                </div>
                <div class="picture unCopy">
                    <img id="displayImage" src="" alt="" />
                    <img id="displayShadow" src="" alt="" />
                </div>
                <div id="error">
                    <p>
                        <i>×</i>
                        <i>未找到图片</i>
                        <i
                            ><span>将在</span><span id="time">5</span
                            ><span>秒后回到图册</span></i
                        >
                        <a href=".." class="href">立即返回</a>
                    </p>
                </div>
            </div>
        </div>
        <script src="../../data/galleryHref.js"></script>
        <script src="view.js"></script>
    </body>
</html>
