body {
    transition: ease-in-out .3s;
}

header {
    background-color: unset;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: unset;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
}

.back {
    transform: unset !important;
    padding: 10px !important;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 16px;
    left: 16px;
    height: 34px;
    width: 86px;
    z-index: 46;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black1);
    transition: cubic-bezier(.5, 0, 0, 1) .4s !important;
    cursor: pointer;
}

.back:hover {
    transform: unset !important;
    box-shadow: 0 0 18px rgba(39, 128, 194, .3);
}

.back div {
    height: 6px;
    width: 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px var(--mainColor0);
    background-color: var(--black);
    transition: cubic-bezier(.5, 0, 0, 1) .4s;
    transform-origin: 20px 3px;
}

.back:hover div {
    background-color: var(--mainColor);
}

.back div:nth-child(1) {
    transform: translate(-18px, 12px) rotate(-135deg);
}

.back div:nth-child(2) {
    transform: translate(-18px, 10px) rotate(135deg);
}

.back i {
    position: absolute;
    right: 10px;
    top: 11px;
    margin-left: 20px;
    font-size: x-large;
    line-height: 34px;
    font-family: gravityBold;
    color: var(--black);
    transition: cubic-bezier(.5, 0, 0, 1) .4s;
}

.back:hover i {
    color: var(--mainColor);
}

.display {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 5;
}

.display>div:not(#loading) {
    display: none;
}

#loading {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading img {
    width: 10vw;
    opacity: .8;
}

@keyframes start {
    0% {
        transform: translateX(100vw) scale(1.2);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

.picture {
    transition: cubic-bezier(.5, 0, 0, 1) .4s;
}

.picture img {
    border-radius: 10px;
}

.zoom {
    transform: scale(1.108);
}

.zoom #displayImage {
    box-shadow: 0 0 32px var(--black3);
}

.zoom #displayShadow {
    filter: blur(5vw) brightness(1.3);
    opacity: 0.5;
}

.zoom img {
    border-radius: 0 !important;
}

#displayImage {
    z-index: 10;
    transition: cubic-bezier(.5, 0, 0, 1) .4s,
        border-radius cubic-bezier(.5, 0, 0, 1) .7s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@keyframes blur {
    0% {
        filter: blur(10vw);
    }

    100% {
        filter: blur(5vw);
    }
}

#displayShadow {
    filter: blur(5vw) brightness(.9);
    opacity: 1;
    z-index: 9;
    transition: cubic-bezier(.5, 0, 0, 1) .4s;
}

.selected {
    cursor: move !important;
}

#error {
    background-color: #fff;
    width: 80vw;
    height: 60vh;
    margin: auto;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px #fff;
}

#error p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80vw;
    height: 60vh;
}

#error p>:nth-child(1) {
    font-size: 12em;
    color: var(--mainColor);
}

#error p>:nth-child(2) {
    font-size: x-large;
}

#error p>:nth-child(3) {
    margin-top: 20px;
}

#time {
    display: inline-block;
    width: 1em;
    text-align: center;
}

@media (max-width: 300px) {
    #navLeft {
        display: none;
    }
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
}