#navButton {
    display: block;
}

#navRight li {
    display: none;
}

#bLIndex>tr>td,
th {
    padding: 5px 3px;
}

table {
    margin: 100px auto 0 auto;
    width: 90%;
    height: 300%;
    font-family: gravity;
    border-spacing: 7px 6px;
}

th,
td {
    background-color: #f5f5f7;
    border-radius: 6px;
    box-shadow: 4px 4px 8px var(--black1);
}

th {
    color: var(--mainColor);
    font-size: larger;
    background-color: #eaeaea;
}

td {
    text-align: center;
}

.note {
    text-indent: 1em;
}

.end {
    font-size: larger;
    font-family: gravityBold;
}